<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prode Mundial 2026</title>

    <link rel="stylesheet" href="/css/login.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="container">

        <div class="left-side">

            <div class="logo-container">
                <img src="/img/copa.png" alt="Logo">
                <h1>
                    PRODE
                    <span>MUNDIAL 2026</span>
                </h1>

                <p>
                    Adiviná, competí y viví la pasión del Mundial ⚽
                </p>

            </div>

        </div>

        <div class="right-side">

            <div class="login-card">

                <div class="login-logo">
                    <img src="/img/logoPelota.png" alt="Login">
                </div>

                <h2>¡Bienvenido!</h2>

                <p class="subtitle">
                    Ingresá a tu cuenta para continuar
                </p>

                <form id="loginForm">

                    <div class="input-group">
                        <label>Usuario</label>
                        <input
                            type="email"
                            id="email"
                            placeholder="Ingresá tu email">
                    </div>

                    <div class="input-group">
                        <label>Contraseña</label>
                        <input
                            type="password"
                            id="password"
                            placeholder="Ingresá tu contraseña">
                    </div>

                    <div class="options">

                        <label>
                            <input type="checkbox">
                            Recordarme
                        </label>

                        <a href="#">
                            ¿Olvidaste tu contraseña?
                        </a>

                    </div>

                    <button type="submit">
                        INGRESAR
                    </button>

                </form>
                <div class="separator">
                    <span>o</span>
                </div>
                <a href="/register" class="register-btn">
                    REGISTRARSE
                </a>

            </div>

        </div>

    </div>

    <script src="/js/login.js"></script>
    
</body>

</html>
